.body{
    font-family: 'Roboto', sans-serif; 
   
}
.header{
    width: 1340px;
height: 93px;
flex-shrink: 0;
background-color: #012D63;
}
.header_logo{
    width: 100px;
    height: 60px;
}
.header_link{   
    text-decoration: none;
    color: grey;
    width: 112px;
height: 30px;
flex-shrink: 0;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
justify-content: center;
}
.header_link:hover{
    color: #FFF;
}
li{
    list-style-type: none;
    text-decoration: none;
}
.nike_logo{
    width: 160px;
height: 120px;
flex-shrink: 0;
}
.nike_title{
width: 178px;
height: 86px;
flex-shrink: 0;
color: #FFF;
font-family: PT Serif;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.nike{
    background: url(../img/background.png), lightgray 50% / cover no-repeat;
    width: 1340px;
height: 858px;
flex-shrink: 0;
}
.nike_title3{
color: #FFF;
font-family: Playfair Display;
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.nike_text{
color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.nike_btn{
width: 254px;
height: 67px;
flex-shrink: 0;
border-radius: 10px;
background: #8E32C6;
color: #FFF;
}
.pictures_title{
    color: #FFF;
text-align: center;
font-family: Playfair Display;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
hr{
    width: 1110px;
    height: 396px;
    flex-shrink: 0;
    stroke-width: 5px;
    color: #8E32C6;
}
.pictures_line{
    width: 1px;
height: 346px;
background: #FFF;
}
.pictures{
    background: url(../img/background2.png) no-repeat; 
    
}
.coments{
    background: url(../img/background3.png);
}
.revievs_title-title{
    flex-wrap: wrap;
    color: #FFF;
text-align: center;
font-family: Playfair Display;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 175px;
height: 65px;
flex-shrink: 0;
}
.revies_item-descr{
    color: #FFF;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 228px;
}
.revies_item-revievs_item-first{
    border-radius: 15px;
background: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
box-shadow: 0px 30px 0px -13px #533978, 0px 14px 0px -5px #7B54B2;
width: 255px;
height: 292px;
flex-shrink: 0;
}
.revies_item revievs_item-second{
    border-radius: 15px;
background: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
box-shadow: 0px 30px 0px -13px #61337C, 0px 14px 0px -5px #9159B1;
width: 255px;
height: 292px;
flex-shrink: 0;
}

.order{
    background: url(../img/background4.png), lightgray -1.001px -1.002px / 100.209% 158.214% no-repeat;
    width: 1340px;
height: 509px;
flex-shrink: 0;
}
.order_information-box1{
    width: 690px;
height: 60px;
flex-shrink: 0;
border-radius: 50px;
background: #FFF;
}
.order_information-box{
    width: 580px;
height: 50px;
flex-shrink: 0;
border-radius: 50px;
background: #FFF;
}
.order_title{
    color: #FFF;
font-family: Playfair Display;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}